html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.dropdown:hover .dropdown-menu{
    display:block;
}





.card {
    height: 100%; /* Tüm kartlarýn ayný yükseklikte olmasýný saðlar */
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 250px; /* Görsellerin ayný boyutta olmasýný saðlar */
    object-fit: cover; /* Görselin oranýný bozmadan kýrpmasýný saðlar */
}

.card-body {
    flex-grow: 1; /* Ýçeriðin esnek olmasýný saðlar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer {
    margin-top: auto; /* Footer kýsmýnýn her zaman en altta kalmasýný saðlar */
}

/* Kampanyalar için */
.news-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Sabit yükseklik */
    overflow: hidden;
    border-radius: 10px; /* Hafif oval köþeler */
    background: #f8f9fa; /* Hafif gri arka plan */
}

    .news-card img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Görsellerin orantýlý görünmesi */
        border-radius: 8px; /* Görselin köþelerini yuvarla */
    }
